*{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}
body{
    background-color: #ffffff;
    overflow:auto;
    margin:0;
    padding:0;
    text-align:center;
  
}

.container{
    display:flex;
    flex-direction:column;
}
                    /* HEADER SECTION */
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#1f2937;
    color:white;
    
   
}
.header .logo{
 margin-left:24px;
}
.header img{
    width:auto;
    height: 100px;
}


.header .right-links{
    display:flex;
    gap:24px;
    margin:24px 24px;
    padding:24px;
}

a{ color:white;}
a:link{
    text-decoration:none;
    color:white;
}

                                /* hero section  */

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    color:white;
    padding: 90px;
    gap:25px;
    flex-basis:800px;
}
.hero .left{
    margin-left: 100px;
    display:flex;
    flex-direction:column;
    flex-basis: 400px;
    text-align: left;
    gap:10px;
    margin-bottom: 10px; 
}
h1{
    font-size: 48px;
    font-weight: bold;
    margin:0;}
p{
    margin:0;
}

.hero button{
    border-radius: 8px;
    width:120px;
    background-color: #3882f6;
    color:white;
    padding:5px;
}
.hero .right{
    margin-right: 100px;
    margin-bottom: 10px;
}   
.hero .right img{
    width:400px;
    height: auto;}

                        /* IMAGES SECTION */
.images{

    
}                       
.images .top-part{
    margin:25px 0px 25px 0px;
    font-size: 36px; 
    color:#1f2937;
    font-weight:bold;
}
.images .bottom-part{
    display:flex;
   
    justify-content: center;
    flex-wrap:wrap;
    /* padding: 0 400px 50px 400px; */
    margin-bottom:50px;
    gap:100px;
    font-size: 15px;
    
    
   
}
.images .bottom-part p{
    display:block;
    width:100px;
}

.bottom-part img{
    border-radius: 20px;
    border: 3px solid blue;
}


img{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    padding:5px;
}
                            /* quote section */
.quote{
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    
    
}

.quote p{
    font-size: 20px;
    font-style:italic;
    font-weight: 100;
    padding:50px 200px;
    text-align:left;
    max-width: 800px;
    padding-bottom:10px;
}

.quote .bold{
    padding:0;
    margin:0;
    width: 800px;
    text-align:right; 
    font-weight:bolder;
    margin-bottom:50px;
}

                            /* SIGN UP */
.sign-up{
    display:flex;
    justify-content: center;
    align-items:center;
    

}

.blue-container{

    display:flex;
    
    align-items: center;
    background-color:#3882f6;
    border:none;
    height:100px;
    width:800px;
    margin:50px 100px;
    border-radius: 10px;
    padding:25px;
}

.blue-container .text-left{
    padding: 0 50px;
    color: white;
    flex: 1;
    text-align:left;
}

.blue-container .button-right{
    padding: 0 50px;
}

.blue-container button{
    padding: 5px 50px;
    border: 3px solid white;
    border-radius: 5px;
    background-color:#3882f6;
    color: white;
    width: fit-content;
    font-size: 12px;
    
}


                                /*FOOTER*/
.footer{
    background-color:#1f2937;
    padding:20px 0;
    color:white;}